<!DOCTYPE html>
<html ng-app="ToDoList">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="angular-local-storage.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-controller="ToDoController">
<ul>
	<li ng-repeat="actividad in todo">
		{{actividad.descripcion}} - {{actividad.fecha | date:'short'}}-<a href="#" ng-click="removeAct(actividad)">x</a>
	</li>
</ul>
<form ng-submit="addAct()">
	<input type="text" ng-model="newAct.descripcion"/>
	<input type="datetime-local" ng-model="newAct.fecha"/>
	<input type="submit" value="guardar actividad"/>
</form>
<button ng-click="clean()">Limpiar</button>

</body>
</html>