<div class="col-md-12 resetCol">
  <div class="viewPnl">
    <div class="textCabeceraPNL">
       <strong>ADMINISTRACIÓN DE PARTICIPANTES</strong>
    </div>
    <div class="lineaC"></div>     

    <div ng-show="pnlTabla">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="input-group">
                    <div class="input-group-btn">
                        <select class="form-control" ng-model="SelectbuscarPor"  style="width: 120px;">                       
                           <option value="">Buscar por:</option>
                           <option value="Nombre">Nombre</option>
                           <option value="DNI">DNI</option>                           
                           <option value="Todos">Todos</option>   
                        </select>
                    </div>
                    <input type="text" class="form-control" ng-model="campoBuscar" aria-label="...">
                    </div>
                </div>
                <div class="col-md-6">
                   <ul class="MenuOpciones">
                      <li ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ><a href="" title="Retroceder el listado de eventos"><i class="fa fa-arrow-left"></i></a></li>

                      <li><a href="" title="Registra un Nuevo evento" ng-click="llamarformulario(true); ocultarPanel(); limpiar();"><i class="fa fa-plus"></i></a></li>

                      <li><a href="" title="Refrescar el listado de eventos" ng-click="listarParticipantes();"><i class="fa fa-refresh"></i></a></li>

                      <li ng-click="visible=!visible" ><a href="" title="Muesta las Opciones de Editar y Eliminar"><i class="fa fa-bars"></i></a></li>

                      <li ng-disabled="currentPage >= particiantes.length/pageSize - 1" ng-click="currentPage=currentPage+1" ><a href="" title="Siguiente listado de eventos"><i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>          
            </div>
        </div>

        <br>
        <div class="styleTabla" >
           <div class="table-responsive no-padding">
              <table class="table table-bordered table-hover">                               
                 <thead> 
                    <tr>     
                      <th class="texttable" ng-show="false">#</th>                                    
                      <th class="texttable">Participante</th>
                      <th class="texttable">Cargo</th>
                      <th class="texttable">Correo</th>     
                      <th class="texttable">Institución que Representa</th>     
                      <th class="texttable">Teléfono 1</th>                                                 
                      <th class="texttable">Teléfono 2</th>  
                      <th class="texttable difuminar" ng-if="visible">Modifciar</th>
                      <th class="texttable difuminar" ng-if="visible">Elimnar</th> 
                    </tr>                                                                
                 </thead>                              
                                   
                  <tbody>                         
                     <tr  ng-repeat = "parti in particiantes | startFrom:currentPage*pageSize | limitTo:pageSize |  filter: comparacion">
                        <td class="textCell" ng-show="false">{{parti.tb_parti_id}}</td>
                        <td class="textCell">{{parti.tb_parti_NombreApe}}</td>             
                        <td class="textCell">{{parti.tb_parti_Cargo}}</td>         
                        <td class="textCell">{{parti.tb_parti_correoElect}}</td>         
                        <td class="textCell">{{parti.tb_parti_InstitucionRe}}</td>         
                        <td class="textCell">{{parti.tb_parti_dniParti}}</td>         
                        <td class="textCell">{{parti.tb_parti_telef2}}</td>         
                        <td class="textCell" ng-show="false">{{parti.tb_parti_descripcion}}</td> 

                  
                        <td class="textCellotro difuminar" ng-if="visible">
                             <button class="btn btn-info" ng-click="mostrarFrmEditar(true); selectParti(parti.tb_parti_id,parti.tb_parti_NombreApe,parti.tb_parti_Cargo,parti.tb_parti_correoElect,parti.tb_parti_InstitucionRe,parti.tb_parti_dniParti,parti.tb_parti_telef2,parti.tb_parti_descripcion);"><i class="fa fa-pencil-square-o"></i></button>
                        </td>  

                        <td class="textCellotro difuminar" ng-if="visible"> 
                             <button class="btn btn-danger" data-toggle="modal" data-target="#myModalEliminarParticipante" ng-click="selectDatos(parti.tb_parti_id,parti.tb_parti_NombreApe);"><i class="fa fa-pencil-square-o"></i></button>
                        </td>

                     </tr>                               
                  </tbody>
              </table>
           </div>       
        </div>  
        
        <div class="col-md-12" style="padding-bottom: 19px;">
          <div class="col-md-6">
               <i class="fa fa-hand-o-right"></i> Se encontraron: <strong>{{contadorParticipante}}</strong> Participantes              
          </div>
          <div class="col-md-6 text_Der">
              Pagina {{currentPage+1}}/{{numberOfPages()}}
          </div>          
        </div>
        <br>      
    </div>

    <div ng-show="pnlFormulario">
      <br>    
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 cabeceraFormulario">
              <strong>:: {{tituloFormulario}} ::</strong>
            </div>

            <br>
            <form action="" role="form" name="forma">                
                <div class="col-md-6">
                   <input type="hidden" class="form-control" ng-model="idParticipante">
                   <div class="form-group" ng-class="{'has-error': forma.nomParticipanteU.$invalid, 'has-success': forma.nomParticipanteU.$valid}">
                      <label>Nombre y Apellidos</label>
                      <input type="text" class="form-control" name="nomParticipanteU" ng-model="nomParticipante" placeholder="Ingrese el nombre y apellido del participante..." required>
                   </div>                
                   <div class="form-group" ng-class="{'has-error': forma.cargoPartiU.$invalid, 'has-success': forma.cargoPartiU.$valid}">
                      <label>Cargo</label>
                      <input type="text" class="form-control" name="cargoPartiU" ng-model="cargoParti" placeholder="Ingrese el cargo que desempeña el participante..." required>
                   </div>
                   <div class="form-group" ng-class="{'has-error': forma.correoPartiU.$invalid, 'has-success': forma.correoPartiU.$valid}">
                      <label>Correo Electronico</label>
                      <input type="text" class="form-control" name="correoPartiU" ng-model="correoParti" placeholder="Ingrese el correo electronico del participante..." required>
                   </div>                  
                </div>
                <div class="col-md-6">
                   <div class="form-group" ng-class="{'has-error': forma.instiPartiU.$invalid, 'has-success': forma.instiPartiU.$valid}">
                      <label>Institución que Representa</label>
                      <input type="text" class="form-control" name="instiPartiU" ng-model="instiParti" placeholder="Ingrese la institución que representa el participante..." required>
                   </div>
                   <div class="form-group" ng-class="{'has-error': forma.DNIU.$invalid, 'has-success': forma.DNIU.$valid}">
                      <label>DNI </label>
                      <input type="text" class="form-control" name="DNIU" ng-model="dniParti" placeholder="Ingrese el número telefónico del participante..." required>
                   </div> 
                   <div class="form-group" ng-class="{'has-error': forma.telefono2PartiU.$invalid, 'has-success': forma.telefono2PartiU.$valid}">
                      <label>Teléfono</label>
                      <input type="text" class="form-control" name="telefono2PartiU" ng-model="telefono2Parti" placeholder="Ingrese el número telefónico del participante..." required>
                   </div>                                                         
                </div>
                <div class="col-md-12">
                   <div class="form-group" ng-class="{'has-error': forma.descripcionU.$invalid, 'has-success': forma.descripcionU.$valid}">
                      <label>Comentario del Participante</label>
                      <textarea class="form-control" maxlength="800" cols="30" rows="5" name="descripcionU" ng-model="descripcionParti" placeholder="Ingrese alguna descripción para este participante..." required></textarea>
                   </div>                  
                </div>                          
            </form>
            <br>
            <div class="btnAccion ">                        
                <button class="btn btn-primary opBtn" title="Regresar al Listado de Evaluadores" ng-click="llamarformulario(false); ocultarPanel(); limpiar();"><i class="fa fa-arrow-left"></i> Atras</button>
                        
                <button ng-show="btnRegistrar" class="btn btn-primary opBtn" title="Registrar los datos ingresados" ng-click ="registrarParticipante();"><i class="fa fa-check"></i> Registrar</button>

                <button ng-show="btnEditar" class="btn btn-primary opBtn" title="Registrar los datos ingresados" ng-click ="editarParticipante();"><i class="fa fa-pencil-square-o"></i> Editar</button>
            </div>
            <div class="form-group">
              <div id="cpalertaRegistroParticipante" class="ocultarAlerta" role="alert"></div>    
            </div>            

        </div>
      </div>
    </div>    

  </div>
</div>





<!-- Modal Eliminar   participante-->
<div class="modal fade" id="myModalEliminarParticipante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalCabecera">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><strong>Eliminar Evaluador</strong></h4>
        </div>
        <div class="modal-body">
            <div class="marcoEli">
                <p class="textPregunta"><strong>¿Esta seguro de eliminar el evaluador Seleccionado?</strong></p>
                <p><strong>ID: </strong>{{datos.cpId}} --- <strong>Evaluador: </strong>{{datos.cpnomb}}</p>  
            </div>
        </div>
        <div class="modal-footer modalPie">
          <button type="button" class="btn opBtn"  ng-click="eliminarParticipante(datos.cpId); listarParticipantes();"><i class="fa fa-trash"></i> Eliminar</button>
          <button type="button" class="btn opBtn" data-dismiss="modal" ng-click="listarParticipantes(); "><i class="fa fa-reply"></i> Regresar</button>
        </div>
      </div>
    </div> 
</div>