<div class="col-md-12 resetCol">
  <div class="viewPnl">
    <div class="textCabeceraPNL">
       <strong>REPORTES</strong>
    </div>
    <div class="lineaC"></div> 
    <br>
    <div>
         dd
    </div>
  </div>
</div>

<!-- Modal Eliminar presentacion-->
<div class="modal fade" id="myModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modalCabecera">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><strong>Eliminar Evaluador</strong></h4>
        </div>
        <div class="modal-body">
            <div class="marcoEli">
                <p class="textPregunta"><strong>¿Esta seguro de eliminar el evaluador Seleccionado?</strong></p>
                <p><strong>ID: </strong>{{datos.cpId}} --- <strong>Evaluador: </strong>{{datos.cpEva}}</p>  
            </div>
        </div>
        <div class="modal-footer modalPie">
          <button type="button" class="btn opBtn"  ng-click="eliminarEvaluador(datos.cpId); listarEvaluadores();"><i class="fa fa-trash"></i> Eliminar</button>
          <button type="button" class="btn opBtn" data-dismiss="modal" ng-click="listarEvaluadores(); "><i class="fa fa-reply"></i> Regresar</button>
        </div>
      </div>
    </div> 
</div>